<!-- 1. Search bar and Navigation bar in header page. -->
     <div class="div-footer2;" style="background-color: white;">
        <!-- Describe search bar and logo -->
        <table class="table1">
            <tr style="width: 50%;">
                <td>
                    <img src="../img/IconBnC_Removed.png" style="width:100px;height:100px;">
                </td>
                <!-- <th style="color:black;">
                    <input type="text" name="search">
                </th>
                <th>
                    <button type="submit"><i class="fa fa-search"></i></button>
                </th> -->
                <td>
                    <div class="search-container2">
                        <form action="/action_page.php">
                        <input type="text" placeholder="Search your product..." name="search" style="height:40px ;width:400px;">
                        <button type="submit" style="height:40px ;width: 50px;"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </td>
                 <td style="color:black;">
                    <a href="/Shopping_Bag_handling" id="ShoppingBagLink" style="text-decoration: none;visibility: hidden;"></a>
                    <button id="ShoppingBagButton" class="text_custom" style="border:none;border-radius: 8px;">Shopping bag</button>
                    <!-- Number 1 -->
                </td> 
                <td style="color:black;">
                    <a href="/payment_handling" id="PaymentLink" style="text-decoration: none;visibility: hidden;"></a>
                    <button id="PaymentButton" class="text_custom" style="border:none;border-radius: 8px;">Bag and Payment</button> 
                    <!-- Number 2 -->
                </td>
                <td style="color:black;">
                    <a href="/login_handling" id="LoginLink" style="text-decoration: none;visibility: hidden;"></a>
                    <!-- <button id="User_Account" class="text_custom_user" style="border:none;border-radius: 8px;">{{{account}}}</button> -->
                    <button id="User_Account" class="text_custom_user" style="border:none;border-radius: 8px;">Admin</button>
                    <!-- Number 3 -->
                </td>
            </tr>
        </table>

 </div>