<!-- 1. Search bar and Navigation bar in header page. -->

<header class="header-container">
  <div class="header-left">
    <img src="../../../../assets/img/IconBnC_Removed.png" alt="Logo" class="logo">
  </div>
  <div class="header-center">
    <form class="search-form" action="/action_page.php">
      <input type="text" placeholder="Search your product..." name="search" class="search-input" [(ngModel)]="searchTerm" (input)="onSearch()">
      <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div class="header-right">
    <!-- <button class="header-btn"><a class="header-btn "href="payment_handling">Bag and Payment</a></button> -->
    <button class="header-btn" (click)="MoveToPaymentPage()">Bag and Payment</button>
    <button class="header-btn user-btn" (click)="LogOut()">
      <i class="fa fa-user"></i> {{Identified_Current_User}}
    </button>

  </div>
</header>
<nav class="navbar" style="display: flex; justify-content: center;">    
  <div class="nav-links" style="display: flex; gap: 10px; align-items: center;">
    <a href="/">Home</a>
    <a href="candle">Candle</a>
    <a class = "custom" href="oil">Oils
      <span class="arrow">&#9662;</span>
      <div class="dropdown-content">
        <a href="diffuse_oils">Diffuse Oils</a>
        <a href="natural_oils">Natural Oils</a>
      </div>
    </a>
    <a class = "custom" href="accessory">Accessory
      <span class="arrow">&#9662;</span>
      <div class="dropdown-content">
        <a href="burn_candles">Burn Candles</a>
        <a href="care_candles">Care Candles</a>
      </div>
    </a>
    <a href="gift">Gift</a>
    <a href="news">News</a>
    <a href="contact">Contact</a>
  </div>
</nav>