<div style="margin-left: 100px;margin-right: 100px;margin-top: 20px;">
        <!-- 2.1. Menu bar for filter product information-->
        <div style="width: 780px;margin-bottom: 20px; float: left;color: black;" >
            <div style="width: 375px ;float:left;">
                <img #candleImg id="Candle_Image" [src]="image" width="350" height="350">
            </div>
            <div style="margin-left: 385px;font-size:20px;">
                <h3 #candleName id="Candle_Name" style="font-weight: bold;">{{ name }}</h3>
                <h6 style="font-size:15px">Status: Available</h6><br>
                <h3 #candlePrice id="Candle_Price" style="font-weight: bold;">{{ price }}</h3><br>
                <h6 style="font-size:20px">Gift: Match box</h6><br>
                <!-- <h3 id="Candle_Price_2">{{ price }}</h3><br> -->
                <div>
                    <table>
                        <tr>
                            <td>1</td>
                            <td>
                                <input
                                    id="Quatity_of_product"
                                    type="range"
                                    min="1"
                                    max="10"
                                    [(ngModel)]="quantity"
                                    (input)="onQuantityChange($event)"
                                >
                            </td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td><p style="font-size:20px">Quatity : </p></td>
                            <td><p id="Display_for_quatity_of_product" style="font-size:20px">{{ quantity }}</p></td>
                        </tr>
                    </table>
                </div><br>
                <!-- Trigger/Open The Modal -->
                <table>
                    <tr>
                        <td>
                            <button 
                                class="product-action-btn" 
                                id="myBtn"
                                (click)="BuyNowandMoveToShoppingBag()"
                            >Buy Now</button>
                        </td>
                        <td>
                            <button 
                                class="product-action-btn" 
                                id="myBtnAddIntoBag"
                                (click)="addToBag()"
                            >Add into Bag</button>
                        </td>
                    </tr>
                </table>
                
                <div 
                    id="AddedIntoBag_showing" 
                    class="modal_for_addedIntoBag"
                    [ngStyle]="{'display': isCheckShoppingBagVisible === true ? 'block' : 'none'}"
                >
                    <a href="/Shopping_Bag_handling" id="ShoppingBagLink" style="text-decoration: none;visibility: hidden;"></a>
                    <p style="font-size: 20px">Added into bag</p>
                    <button 
                        style="width:100px; height:20px; border-radius:5px;" 
                        id="Check_shopping_bag"
                        (click) ="checkShoppingBag()"
                    >Check bag</button>
                    <!-- <script>
                        var Check_shopping_bag = document.getElementById("Check_shopping_bag");

                        Check_shopping_bag.onclick = function(){
                            document.getElementById("ShoppingBagLink").click();
                        } 
                    </script> -->
                </div>
            </div>
            <!-- <script>
                var Current_Product;
                var Current_Product_image;
                Get_Candle_Information();
                var QuatityNumber = document.getElementById("Quatity_of_product").value;
                var QuatityButton = document.getElementById("Quatity_of_product");
                document.getElementById("Display_for_quatity_of_product").innerHTML = QuatityNumber;
                QuatityButton.onchange = function(){
                QuatityNumber = document.getElementById("Quatity_of_product").value;
                   document.getElementById("Display_for_quatity_of_product").innerHTML = QuatityNumber;
                }
                function Get_Candle_Information() {
                    var receivedMessage = "";
                    const xhttp = new XMLHttpRequest();
                    xhttp.open("POST", "/candle_information");
                    xhttp.setRequestHeader( 
                    "Content-Type", "application/json" 
                    ); 
                    var data = JSON.stringify( 
                        { name: "getdetailinfor", email: "testagain" } 
                    ); 
                    xhttp.send(data);
                    // Create a state change callback 
                    xhttp.onreadystatechange = function () { 
                        if (xhttp.readyState === 4 && 
                            xhttp.status === 200) { 
                            // Print received data from server 
                            receivedMessage = this.responseText;
                            receivedMessage = JSON.parse(receivedMessage);
                            // document.getElementById("demo").innerHTML = receivedMessage[0].name; 
                            let stringtemp = "";
                            let myarray = "";
                            stringtemp = `${receivedMessage.name}`;
                            myarray = stringtemp.replaceAll(" ","_"); // replace all space in string with underscore
                            Current_Product = receivedMessage.name;
                            Current_Product_price = receivedMessage.price;
                            Current_Product_image = receivedMessage.image;
                            document.getElementById('Candle_Image').src = `${receivedMessage.image}`; 
                            document.getElementById('Candle_Price').innerHTML = `${receivedMessage.price}`;
                            document.getElementById('Candle_Name').innerHTML = `${receivedMessage.name}`;
                        } 
                    }; 
                    // setTimeout(Get_Candle_Information, 5000); 
                    
                }
                // Get the modal
                var modal = document.getElementById("myModal");
                var model_for_AddedIntoBag = document.getElementById("AddedIntoBag_showing");
                
                // Get the button that opens the modal
                var btn = document.getElementById("myBtn");
                var BtnAddIntoBag = document.getElementById("myBtnAddIntoBag");
                var CancelButton = document.getElementById("CancelButton");
                var LoginButton = document.getElementById("LoginButton");
                var LoginButtonLink = document.getElementById("LoginButtonLink");
                var PaymentButtonLink = document.getElementById("PaymentButtonLink");
                var CurrentUserValid = document.getElementById("User_Account");
                
                // Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];
                
                BtnAddIntoBag.onclick = function(){
                    // 1. Display added with GUI (one small annimation) - show one pop up with one button for showing shopping bag and fade out in 3sec
                    model_for_AddedIntoBag.style.display = "block";
                    AddedBoxFadeOut(1);

                    // 2. Add into personal bag (add into session storage)
                    // Send one request to Server (POST Method) for write this selected information into session storage in server side
                    
                    RequestStoreDataToSession();

                    // 3. Still keep current page (keep continous user experience)
                }

                const RequestStoreDataToSession = () => {
                    const xhttp = new XMLHttpRequest(); 
                    xhttp.open("POST", `/candle_information/requestwriteintosession`);
                    xhttp.setRequestHeader( 
                    "Content-Type", "application/json" 
                    ); 
                    var data = JSON.stringify( 
                        { 
                            candle_name: `${Current_Product}`, 
                            quatity: `${QuatityNumber}`, // waiting dev for one button select number of product later
                            price : `${Current_Product_price}`,
                            image : `${Current_Product_image}`
                        } 
                    ); 
                    xhttp.send(data);
                    // Create a state change callback 
                    xhttp.onreadystatechange = function () { 
                        if (xhttp.readyState === 4 && xhttp.status === 200) { 
                            var receivedMessage = this.responseText;
                            console.log(`Response text in here ${receivedMessage}`);
                        }
                    };
                }
                
                const AddedBoxFadeOut = (AllowedFadeOut)=> {
                    if(AllowedFadeOut){
                        setTimeout(
                            function(){
                                model_for_AddedIntoBag.style.display = "none"
                            }
                            ,
                            3000
                        );
                        
                    } else {
                        model_for_AddedIntoBag.style.display = "block";
                    }
                }
                // When the user clicks the button, open the modal 
                btn.onclick = function() {
                    // Step 1: Check authentication is completed or not
                    //          + If completed, redirect to payment logic
                    //          + If not completed, pop up for login again or still only check product and payment later
                    console.log(`CurrentUser is ${CurrentUserValid.innerHTML} and type is ${typeof(CurrentUserValid.innerHTML)}`);
                    if(CurrentUserValid.innerHTML == null){
                        modal.style.display = "block";
                        console.log("authentication did not complete!");
                    }
                    else {
                        console.log("authentication completed!");
                        PaymentButtonLink.click(); // redirect to payment handling
                    }
                    
                }

                CancelButton.onclick = function() {
                    modal.style.display = "none";
                }

                LoginButton.onclick = function() {
                    LoginButtonLink.click();
                }
                
                // When the user clicks on <span> (x), close the modal
                // span.onclick = function() {
                // modal.style.display = "none";
                // }
                
                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
                }
                function Buy_Product(){};       // Additional action 
            </script> -->
        </div>
        <!-- 2.2. Menu bar for showing product information-->
        <div style="margin-left: 800px; margin-bottom: 20px;color: black;">
            <!-- <h3>Right side 1</h3> -->
            <p>Dụng cụ chuyên dụng cho người chơi nến thơm để thưởng thức mùi hương nến thơm chuyên nghiệp bằng nhiệt của bóng đèn, có núm điều khiển cường độ ánh sáng.</p>
            <br>
            <p><b>THÔNG SỐ:</b></p>
<ul style="margin-top: 0; margin-bottom: 12px;">
  <li>Mã sản phẩm: DN01</li>
  <li>Chiều cao: 300mm</li>
  <li>Chiều rộng: 150mm</li>
  <li>Cốc nến cao tối đa: 150mm</li>
  <li>Màu sắc: Trắng, Đen, Vàng Đồng</li>
  <li>Chất Liệu: Hợp kim nhôm phủ sơn tĩnh điện nano</li>
  <li>Kèm bóng đèn</li>
</ul>
<br>
<p><b>CÔNG DỤNG:</b></p>
<ul style="margin-top: 0; margin-bottom: 12px;">
  <li>Dùng để tỏa hương tốt hơn cho hũ nến thơm so với cách đốt thông thường</li>
  <li>Có thể điều chỉnh mức độ ánh sáng đèn mạnh hay yếu để cho nến tỏa hương mạnh hay nhẹ</li>
  <li>Là món đồ derco phòng rất đẹp</li>
  <li>Có thể làm đèn ngủ</li>
  <li>An toàn cho trẻ nhỏ và vật nuôi</li>
</ul><br>
<p><b>LƯU Ý:</b></p>
<ul style="margin-top: 0; margin-bottom: 12px;">
  <li>Không nên chạm vào bóng đèn đang thắp.</li>
  <li>Tránh xa tầm tay trẻ em</li>
</ul>
        </div>
</div>