<!DOCTYPE html>
<html>
<head>
<!-- <script>
function myFunction() {
  document.getElementById("demo").innerHTML = "Paragraph changed.";
}
</script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="app.js"></script>
</head>
<body>


<h2>Demo JavaScript in Head</h2>

<p id="demo">A Paragraph.</p>

<button type="button" onclick="myFunction()">Try it</button>
<div ng-app="myNinjaApp" ng-controller="NinjaController">

    <p>Full Name: {{firstName + " " + lastName}}</p>

</div>


</body>
</html> 