
<div class="another-information-container" *ngIf="delivery_policy_checked">
    <p><b>Shipping Policy</b></p>
    <p>Fast and on-time delivery for 99% of orders is the goal that nenthom.com.vn's operations team is aiming for.Customers, please believe that we will achieve it in 2026!</p><br>
    <p>Currently, nenthom.com.vn is a major partner with famous and reputable delivery units such as: Giao Hang Tiet Kiem, Giao Hang Nhanh, Viettel Post, AhaMove, ...</p><br>  
    <p>Nenthom.com.vn ships to almost every region in Vietnam. We will deliver the product to the location you request in the order.</p><br>
    <p>Shipping fees are listed on the payment page, and will be priced for each order placed.</p><br>
    <p>Depending on each product or promotion, nenthom.com.vn will have different free shipping programs or discount codes.</p><br>
    <p>Please refer to the promotion program here or register to follow the Facebook Fanpage nenthom.com.vn</p><br>
    <p><b>AVERAGE DELIVERY TIME:</b></p>
    <ul style="margin-top: 0; margin-bottom: 12px;">
        <li>Orders within Hanoi/Ho Chi Minh: Customers will receive within a maximum of 24 hours (Usually 2-4 hours) from the time of order. Except for pre-orders or insufficient inventory, nenthom.com.vn's customer service will call to notify customers about this issue. Usually it can be sooner depending on the time the customer places the order.</li>
        <li>Other areas: 1-3 days (usually 1-2 days), if after 3 days from the time of order you have not received a delivery call from the postman, please contact nenthom.com.vn for support (If ordering gifts for holidays, please order 1-3 days earlier to avoid overload).</li>
    </ul><br>
    <p><b>NOTE:</b> In case customers need to receive goods urgently, they can contact Hotline nenthom.com.vn for support</p>
</div>
<div class="another-information-container" *ngIf="payment_policy_checked">
    <p><b>Payment policy</b></p>
    <p>Nenthom.com.vn is responsible for and protects your rights when making payment transactions.</p><br>
    <p>We support the following payment methods:</p><br>  
    <ul style="margin-top: 0; margin-bottom: 12px;">
        <li>Cash payment for COD (delivery and collection at home) nationwide.</li>
        <li>Payment by MoMo e-wallet.</li>
        <li>Payment by Zalo Pay e-wallet.</li>
        <li>Payment by bank transfer via Internet banking, Admin will contact to provide to you</li>
    </ul><br>
</div>
<div class="another-information-container" *ngIf="return_policy_checked">
    <p><b>Return Policy</b></p>
    <p>It is annoying if you buy something and cannot return it, so nenthom.com.vn has a support policy to ensure the most satisfaction.</p><br>
    <p>Customers can exchange or return the product within 7 days from the date of purchase.</p><br>  
    <p><b>Conditions for returning the product:</b></p><br>
    <p>The product is still intact with all parts, showing no signs of heavy use or damage.</p><br>
    <p>There are complete accompanying documents (purchase invoice, catalog, etc.) and accessories, gifts (if any).</p><br>
    <p>The customer will bear the cost of returning the product to nenthom.com.vn</p><br>
    <p><b>3 Quick Steps to Return:</b></p><br>
    <ul style="margin-top: 0; margin-bottom: 12px;">
        <li><b>Step 1: </b>Notify us by contacting us via Fanpage or hotline.</li>
        <li><b>Step 2: </b>Send the package to us at 303B Vu Huu, Thanh Xuan Bac Ward, Thanh Xuan District, Hanoi.</li>
        <li><b>Step 3: </b>Immediately after receiving your returned goods, we will send you a new order.</li>
    </ul><br>
</div>
<div class="another-information-container" *ngIf="privacy_policy_checked">
    <p><b>Privacy Policy</b></p>
    <p>To ensure website security and information security for consumers, nenthom.com.vn has issued a number of information security policies for individual and organizational customers when logging in to the website: nenthom.com.vn</p><br>

    <p><b>1. Purpose of information collection</b></p><br>
    <p>Collecting information via the website nenthom.com.vn will help us</p><br>
    <p>Grasp the wishes and desires of customers to improve services</p><br>
    <p>Help customers update promotions, discounts... organized by Top Quà Tặng as soon as possible.</p><br>
    <p>Support customers with complaints and comments as quickly as possible.</p><br>


    <p><b>2. Scope of information collection</b></p><br>
    <p>Nenthom.com.vn collects customer information including:</p><br>
    <ul style="margin-top: 0; margin-bottom: 12px;">
        <li>First name</li>
        <li>Last name</li>
        <li>Email address</li>
        <li>Phone number</li>
        <li>Country</li>
        <li>Province</li>
        <li>Address</li>
    </ul><br>
    <p><b>3. Scope of information use</b></p><br>
    <p>We take customer information security very seriously, so we commit to absolutely not arbitrarily use customer information for purposes that do not benefit customers, we commit to not trading or exchanging customer confidential information to any third party. However, in some special cases below, we can reasonably share customer information when</p><br>
    <p>With the customer's consent.
To protect the interests of the company and the company's partners: We only provide personal information of customers when we are sure that such information can protect the interests and assets of our company and related partners. This information will be legally disclosed according to Vietnamese law.
At the request of government agencies when we deem it appropriate under Vietnamese law.</p><br>
    <p>In some cases where it is necessary to provide other customer information, such as promotions sponsored by a third party, we will notify you before your information is shared. You have the right to decide whether to agree to share information or participate.</p><br>

    
    <p><b>4. Information storage time</b></p><br>
    <p>Nenthom.com.vn will store Personal Information provided by Customers on our internal systems during the process of providing services to Customers or until the purpose of collection is completed or when Customers request to cancel the information provided.</p><br>
    <p>Means and tools for users to access and edit their personal data.</p><br>
    <p>Customers can exercise the above rights by accessing the website themselves or contacting us via email or contact address published on the website of nenthom.com.vn</p><br>
    <p>Commitment to protecting customer personal information</p><br>
    <p>We are committed to ensuring the security of information for customers when registering personal information with our company. We are committed to not exchanging and selling customer information for commercial purposes. We are committed to implementing all sharing and use of customer information in accordance with the company's privacy policy. We are committed to making customers feel confident and satisfied about the security of personal information when participating and using our company's services.</p><br>

    <p><b>Contact information</b></p><br>
    <p>We always welcome your comments, contacts and feedback on this "Privacy Policy". If you have any related questions, please contact us at Email address: nenthom.com.vn</p>

</div>
