<!-- 3. Footer component -->
<div class="div-footer2;" style="background-color: #CBB8B8;">
    <table class="table3">
        <tbody>
            <tr style="text-align: left;">
                <td><h5><b>Contact</b></h5></td>
                <td><h5><b>Support</b></h5></td>
                <td><h5><b>Reference</b></h5></td>
                <td><h5><b>About Us</b></h5></td>
            </tr>
            <tr>
                <td style="text-align: left;vertical-align: text-top;">
                    <p style="font-size: 18px;">Adress: District 7, Ho Chi Minh City, Viet Nam</p>
                    <p style="font-size: 18px;">Phone: 0826781112</p>
                    <p style="font-size: 18px;">Email: nenthombnc.2005gmail.com.vn</p>
                </td>
                <td style="text-align: left;vertical-align: text-top;">
                    <a style="text-decoration: none;font-size: 18px;color: black;"href="/another_information/delivery_policy">Delivery Policy</a><br>
                    <a style="text-decoration: none;font-size: 18px;color: black;"href="/another_information/payment_policy">Payment Policy</a><br>
                    <a style="text-decoration: none;font-size: 18px;color: black;"href="/another_information/return_policy">Return Policy</a><br>
                    <a style="text-decoration: none;font-size: 18px;color: black;"href="/another_information/privacy_policy">Privacy Policy</a>
                </td>
                <td style="text-align: center;">
                    <a style="text-decoration: none;font-size: 18px;color: black;"href="https://shopee.vn/mymiehouse?categoryId=100636&entryPoint=ShopByPDP&itemId=3164363233&upstream=search" target="_blank">
                        <img src="../img/shopee.jfif" width="30" height="30">
                    </a><br>
                    <a style="text-decoration: none;font-size: 18px;color: black;"href="https://tiki.vn/cua-hang/the-gioi-mui-huong-tu-nhien?source_screen=product_detail&source_engine=organic" target="_blank">
                        <img src="../img/tiki.png" width="30" height="30">
                    </a><br>
                    <a style="text-decoration: none;font-size: 18px;color: black;"href="https://www.lazada.vn/shop/heber-natural-life/?itemId=2497028313&spm=a2o4n.pdp_revamp.seller.1.373172f2nHEbic&path=promotion-428634-0.htm&tab=promotion&channelSource=pdp" target="_blank">
                        <img src="../img/lazada.jfif" width="30" height="30">
                    </a>
                </td>
                <td style="text-align: center;">
                    <a style="text-decoration: none;font-size: 18px;color: black;"href="https://www.facebook.com/profile.php?id=100087257184951&sk=followers" target="_blank">
                        <img src="../img/facebook.jfif" width="30" height="30">
                    </a><br>
                    <a style="text-decoration: none;font-size: 18px;color: black;"href="https://www.instagram.com/wickycandle/" target="_blank">
                        <img src="../img/instagram.jfif" width="30" height="30">
                    </a><br>
                    <a style="text-decoration: none;font-size: 18px;color: black;"href="https://www.youtube.com/@henygarden" target="_blank">
                        <img src="../img/youtube.jfif" width="30" height="30">
                    </a>
                </td>
            </tr>     
        </tbody>
    </table>
</div>
<!-- <button (click)="SecondButtonClick()">Button in Footer</button>
<p>{{this.titleFooter}}</p> -->