<!-- 2. Combination in Center component-->
 <!-- 2.1. Menu bar for filter product information-->
<div style="margin-left: 80px;margin-right: 100px;margin-top: 20px;margin-bottom: 20px;">
    <div style="width: 250px; height:1500px; float : left;color: black;" id="filter_bar" >
        <form style="text-align: left;" action="/action_page2.php">
            <div class="filter-section">
                <h3>Type</h3><br>
                <div>
                    <input type="checkbox" id="candle" name="fav_language" value="candle" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="candle">Candle</label>
                </div>
                <div>
                    <input type="checkbox" id="oil" name="fav_language" value="oil" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="oil">Oil</label>
                </div>
                <div>
                    <input type="checkbox" id="accessory" name="fav_language" value="accessory" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="accessory">Accessory</label>
                </div>
                <div>
                    <input type="checkbox" id="gift" name="fav_language" value="gift" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="gift">Gift</label>
                </div>
            </div><br>
            <div class="filter-section">
                <h3>Product group</h3><br>
                <div>
                    <input type="checkbox" id="best_saler" name="fav_language" value="best_saler" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="best_saler">Best seller</label>
                </div>
                <div>
                    <input type="checkbox" id="discount" name="fav_language" value="discount" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="discount">Discount</label>
                </div>
                <div>
                    <input type="checkbox" id="new_arrival" name="fav_language" value="new_arrival" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="new_arrival">New arrival</label>
                </div>
                <div>
                    <input type="checkbox" id="sweet_fruit" name="fav_language" value="sweet_fruit" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="sweet_fruit">Sweet and Fruit</label>
                </div>
                <div>
                    <input type="checkbox" id="wood_men" name="fav_language" value="wood_men" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="wood_men">Wood and Men</label>
                </div>
                <div>
                    <input type="checkbox" id="fresh_relax" name="fav_language" value="fresh_relax" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="fresh_relax">Fresh and Relax</label>
                </div>
                <div>
                    <input type="checkbox" id="flower_herb" name="fav_language" value="flower_herb" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="flower_herb">Flower and Herb</label>
                </div>
            </div><br>
            <div class="filter-section">
                <h3>Brand</h3><br>
                <div>
                    <input type="checkbox" id="lumos" name="fav_language" value="lumos" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="lumos">Lumos</label>
                </div>
                <div>
                    <input type="checkbox" id="citta" name="fav_language" value="citta" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="citta">Citta</label>
                </div>
                <div>
                    <input type="checkbox" id="no_brand" name="fav_language" value="no_brand" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="no_brand">No Brand</label>
                </div>
            </div><br>
            <div class="filter-section">
                <h3>Price</h3><br>
                <div>
                    <input type="checkbox" id="smaller_100KVND" name="fav_language" value="smaller_100KVND" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="smaller_100KVND">Smaller 100KVND</label>
                </div>
                <div>
                    <input type="checkbox" id="100KVND_to_200KVND" name="fav_language" value="100KVND_to_200KVND" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="100KVND_to_200KVND">100KVND to 200KVND</label>
                </div>
                <div>
                    <input type="checkbox" id="200KVND_to_300KVND" name="fav_language" value="200KVND_to_300KVND" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="200KVND_to_300KVND">200KVND to 300KVND</label>
                </div>
                <div>
                    <input type="checkbox" id="300KVND_to_500KVND" name="fav_language" value="300KVND_to_500KVND" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="300KVND_to_500KVND">300KVND to 500KVND</label>
                </div>
                <div>
                    <input type="checkbox" id="larger_500KVND" name="fav_language" value="larger_500KVND" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="larger_500KVND">Larger 500KVND</label>
                </div>
            </div><br>
            <div class="filter-section">
                <h3>Color</h3><br>
                <div>
                    <input type="checkbox" id="black" name="fav_language" value="black" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="black">Black</label>
                </div>
                <div>
                    <input type="checkbox" id="white" name="fav_language" value="white" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="white">White</label>
                </div>
                <div>
                    <input type="checkbox" id="red" name="fav_language" value="red" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="red">Red</label>
                </div>
                <div>
                    <input type="checkbox" id="pink" name="fav_language" value="pink" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="pink">Pink</label>
                </div>
                <div>
                    <input type="checkbox" id="blue" name="fav_language" value="blue" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="blue">Blue</label>
                </div>
                <div>
                    <input type="checkbox" id="green" name="fav_language" value="green" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="green">Green</label>
                </div>
                <div>
                    <input type="checkbox" id="yellow" name="fav_language" value="yellow" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="yellow">Yellow</label>
                </div>
                <div>
                    <input type="checkbox" id="orange" name="fav_language" value="orange" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="orange">Orange</label>
                </div>
                <div>
                    <input type="checkbox" id="purple" name="fav_language" value="purple" (change)="onFilterChange($event)">
                    <label style="font-size: 20px;" for="purple">Purple</label>
                </div>
            </div>
        </form>
    </div>
 </div>
 <!-- 2.2. Menu bar for showing product information-->
 <div class="candles-products-grid">
    <div class="product-card" *ngFor="let candle of candles">
        <a id="RouteIDA13" [href]="getCandleUrl(candle)" style="text-decoration: none; color: black;">
        <img [src]="candle.image" alt="{{candle.name}}">
        </a>
        <div class="product-title">{{candle.name}}</div>
        <div class="product-price">{{candle.price}}</div>
    </div>
</div>

