
<!-- 3. Footer component -->
<footer class="footer-container" style="background-color: #CBB8B8; padding: 2rem 0;">
  <div class="footer-content">
    <div class="footer-section">
      <h5><b>Contact</b></h5>
      <p>Address: District 7, Ho Chi Minh City, Viet Nam</p>
      <p>Phone: 0826781112</p>
      <p>Email: nenthombnc.2005gmail.com.vn</p>
    </div>
    <div class="footer-section">
      <h5><b>Support</b></h5>
      <a href="/another_information/delivery_policy">Delivery Policy</a>
      <a href="/another_information/payment_policy">Payment Policy</a>
      <a href="/another_information/return_policy">Return Policy</a>
      <a href="/another_information/privacy_policy">Privacy Policy</a>
    </div>
    <div class="footer-section">
      <h5><b>Reference</b></h5>
      <a href="https://shopee.vn/mymiehouse?categoryId=100636&entryPoint=ShopByPDP&itemId=3164363233&upstream=search" target="_blank">
        <img src="../../../../assets/img/shopee.jfif" width="30" height="30" alt="Shopee" />
        Shopee
      </a>
      <a href="https://tiki.vn/cua-hang/the-gioi-mui-huong-tu-nhien?source_screen=product_detail&source_engine=organic" target="_blank">
        <img src="../../../../assets/img/tiki.png" width="30" height="30" alt="Tiki" />
        Tiki
      </a>
      <a href="https://www.lazada.vn/shop/heber-natural-life/?itemId=2497028313&spm=a2o4n.pdp_revamp.seller.1.373172f2nHEbic&path=promotion-428634-0.htm&tab=promotion&channelSource=pdp" target="_blank">
        <img src="../../../../assets/img/lazada.jfif" width="30" height="30" alt="Lazada" />
        Lazada
      </a>
    </div>
    <div class="footer-section">
      <h5><b>About Us</b></h5>
      <a href="https://www.facebook.com/profile.php?id=100087257184951&sk=followers" target="_blank">
        <img src="../../../../assets/img/facebook.jfif" width="30" height="30" alt="Facebook" />
        Facebook
      </a>
      <a href="https://www.instagram.com/wickycandle/" target="_blank">
        <img src="../../../../assets/img/instagram.jfif" width="30" height="30" alt="Instagram" />
        Instagram
      </a>
      <a href="https://www.youtube.com/@henygarden" target="_blank">
        <img src="../../../../assets/img/youtube.jfif" width="30" height="30" alt="YouTube" />
        YouTube
      </a>
    </div>
  </div>
</footer>